registry=https://new-verse-101123303077.d.codeartifact.ap-northeast-1.amazonaws.com/npm/new-verse-front-library/
//new-verse-101123303077.d.codeartifact.ap-northeast-1.amazonaws.com/npm/new-verse-front-library/:always-auth=true
//new-verse-101123303077.d.codeartifact.ap-northeast-1.amazonaws.com/npm/new-verse-front-library/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
